.container-doctor {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #f5f5f5;
}

.filters {
  flex: 1;
  max-width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.filters h2 {
  margin-top: 0;
}

.input,
#specialization {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.price-go{
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 4px 10px;
  margin-bottom: 10px;
  background-color: #cadcfc;
  /* padding: 5px; */
}

.price-label {
  /* margin-right: 20px; */
}

.input-range {
  width: 100%;
  margin: 10px;
}

.price-inputs {
  display: flex;
  flex-direction: row;
}

.price-inputs input[type="text"] {
  width: calc(50% - 5px); 
}

.doctorList {
  flex: 3;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  margin: 0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  max-width: 270px;
  height: auto;
  border: none;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.bookButton {
  background-color: #cadcfc;
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.bookButton:hover {
  background-color: #00246b;
  color: white;
}

@media (max-width: 768px) {
  .container-doctor {
    flex-direction: column;
    align-items: center;
  }

  .filters {
    max-width: 100%;
  }

  .doctorList {
    max-width: 100%;
  }

  .cardContainer {
    grid-template-columns: 1fr;
  }
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  text-align: center;
}