.container-doctor {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.filters {
  flex: 1;
  max-width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filters h2 {
  margin-top: 0;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.doctorList {
  flex: 3;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  margin: 0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 270px;
  height: auto;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.bookButton {
  background-color: #CADCFC;
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.bookButton:hover {
  background-color: #00246B;
  color: white;
}

